<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>微信·第三方平台</title>
</head>
<body style="text-align: center">
<h2>微信·第三方平台</h2>
<a th:href="${location}">授权地址</a>
<p>本第三方平台将获取您的所有公众号权限, 请深思熟虑之后再确定授权!</p>
</body>
</html>